<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #06402B;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #0f172a;
    color: white;
    cursor: pointer;
}
</style>
</head>

<body>

<h2>ECOLYTIX</h2>

<form action="/login" method="POST">
  <input name="username" placeholder="Usuário">
  <input name="password" type="password" placeholder="Senha">
  <button type="submit">Entrar</button>
</form>

</body>
</html>
